/******************************/

/*GALLERY*/

/*HEAD*/
.gallery {
	background-color: #ebebeb;
	background-attachment: fixed;
}
.gallery .rowTitle h2 {
	margin-top: 10vh;
	text-align: center;
	font-size: 5em;
	color: black;
	font-family: 'Inconsolata';
}
#flower {
	margin-left: 58vh;
	margin-top: 5vh;
}

/*CONTAINER*/
.galleryContainer {
	margin: auto;
}
.diamond-grid {
	width: auto;
	transition: 0.5s;
}
.item {
	width: 220px;
	height: 220px;
	background: #000;
	transition: 0.5s;
	opacity: 0.5;
	z-index: 1;
}
.item:hover {
	opacity: 1;
}
.item img {
	position: absolute;
	width: 150%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}