@import "responsive.css";
/* MENU*/
.ui.menu {
	visibility: visible;
	background-color: black;
	border-radius: 0px;
	border: none;
	display: flex;

}
.ui.menu .menu{
	width:100%;
	justify-content: space-between;
	margin: auto;
}
.ui.menu.fixed{
	margin: auto;
	height: 10vh;
	width:100vw;
}
.ui.menu .item{
	color: #FFFFFF;
	font-size: 1.3em;
	text-transform: uppercase;
}
.ui.menu a.item:hover{
	background-color: #ffffff;
	color:black;
}
.ui.menu:not(.item) {
	opacity: 0.8;
}

.right.menu .item {
	font-family: 'arial';
	font-weight: bold;
	color: white;
}
/*MENU_HAMBURGER*/
.hamburger{
	width: 50px;
	height: 50px;
	}
.none{
	display: none;
}

/*FIRST PIC*/
.backgroundImg{
	background-image: url("images/firstGround.jpg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 100%;
	margin-bottom: 6%;
}

.rowTitle{
	margin-top: 21vw;
}

.rowTitle h1{
	font-size: 5.5em;
	text-align: center;
	color: white;
	font-family: 'Pinyon Script';
}
.rowTitle h2{
	font-size: 1.3em;
	text-align: center;
	color: white;

}

/*SLIDE ARROW*/

.ScrollArrow{
	z-index: 10;
	margin: auto;
	width: 100px;
	position: relative;
	top: 19.2vh;
}
#ScrollArrow{
	width: 100%;
	margin: auto;
}
.ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg, .ui.tiny.image{
	position: absolute;
	margin: auto;
}
/*CARROUSEL*/
.slides{
	height: 80vh;
	margin-bottom:5.7vh;
}
/*ARTISTS*/
.backgroundImg_Artists{
	background-image: url("images/secondGround.jpeg");
	background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
	margin-bottom: 5.7vh;
}
.backgroundImg_Artists h2{
	text-align: center;
	font-size: 3.5em;
	color: white;
	padding-top: 10vh;
}
.skullImg{
	margin: auto;
	width: 5%;
	padding-top: 5vh;
	padding-bottom: 15%;
}
/*ARTISTS_MYLOOZ*/

.MyloozDescription p{
	width: 35vw;
	padding-right: 4vw;
	color: white;
	font-size: 1.2em;
}
.MyloozDescription h3{
	color: white;
	font-size: 2em;
}
#mylooz{
	padding-right: 3vw;
	width:25vh;
}
#MyloozItems{
	margin-right: 15vw;
}

/*ARTISTS_MADEMOISELLE HIRONDELLE*/
.right .floated .column{
	width: 50vw;
}
.HirondelleDescription p{
	width: 35vw;
	padding-right: 4vw;
	color: white;
	font-size: 1.2em;
}
.HirondelleDescription h3{
	color: white;
	margin-right: 3.5vw;
	font-size: 2em;
}
#Hirondelle{
	padding-right: 3vw;
	width:25vh;
}
#HirondelleDescription{
	margin-top: 3vh;
}
.ui.grid > [class*="four column"].row > .column{
	width: auto;
}
#HirondelleItems{
	margin-left: 15vw;
	padding-bottom: 7.5vh;
}
/*GALERIE*/
.galerie{
	width:100%;
}
.galerie h2{
	text-align: center;
	font-size: 3.5em;
}
/*ASSOCIATION*/
.backgroundImg_association{
	background-image: url("images/association.png");
	background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
	margin-bottom: 5.7vh;
	width: 100%;
}
