@import "responsive.css";
/* MENU*/
.ui.menu {
	visibility: visible;
	background-color: black;
	border-radius: 0px;
	border: none;
	display: flex;
	transition: all 0.5s;
  z-index: 997;

}
.ui.menu .menu{
	width:100%;
	justify-content: space-between;
	margin: auto;
}
.ui.menu.fixed{
	margin: auto;
	height: 10vh;
	width:100vw;
}
.ui.menu .item{
	color: #FFFFFF;
	font-size: 1.3em;
	text-transform: uppercase;
}
.ui.menu a.item:hover{
	background-color: #ffffff;
	color:black;
}
.ui.menu:not(.item) {
	opacity: 0.8;
}

.right.menu .item {
	font-family: 'arial';
	font-weight: bold;
	color: white;
}
/*MENU_HAMBURGER*/
.hamburger{
	width: 50px;
	height: 50px;
	}
.none{
	display: none;
}

/*FIRST PIC*/
.backgroundImg{
	background-image: url("images/firstGround.png");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 100%;
	margin-bottom: 6%;
	position: relative;
}
.backgroundImg :before{
	content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.rowTitle{
	margin-top: 21vw;
}

.rowTitle h1{
	font-size: 5.5em;
	text-align: center;
	color: white;
	font-family: 'Pinyon Script';
}
.rowTitle h2{
	font-size: 1.3em;
	text-align: center;
	color: white;

}

/*SLIDE ARROW*/

.ScrollArrow{
	z-index: 10;
	margin: auto;
	width: 100px;
	position: relative;
	top: 19.2vh;
}
#ScrollArrow{
	width: 100%;
	margin: auto;
}
.ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg, .ui.tiny.image{
	position: absolute;
	margin: auto;
}
/*CARROUSEL*/
.slides{
	height: 80vh;
	margin-bottom:5.7vh;
}
/*ARTISTS*/
.backgroundImg_Artists{
	background-image: url("images/secondGround.png");
	background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
	margin-bottom: 5.7vh;
}
.backgroundImg_Artists h2{
	text-align: center;
	font-size: 3.5em;
	color: white;
	padding-top: 10vh;
}
.skullImg{
	margin: auto;
	width: 50px;
	padding-top: 5vh;
	padding-bottom: 5%;
}
.skullImg img{
	width: 100%;
}
/*ARTISTS_MYLOOZ*/
.MyloozDescription p{
	width: 35vw;
	color: white;
	font-size: 1.2em;
}
.MyloozDescription h3{
	color: white;
	font-size: 2em;
}
#mylooz{
	padding-right: 2vw;
	max-width:35vh;
}
#MyloozDescription{
	margin-top: 3vh;
}
#MyloozItems{
	margin-right: 15vw;
	display: flex;
}

/*ARTISTS_MADEMOISELLE HIRONDELLE*/

.HirondelleDescription p{
	width: 35vw;
	color: white;
	font-size: 1.2em;
}
.HirondelleDescription h3{
	color: white;
	font-size: 2em;
}
#Hirondelle{
	padding-left: 3vw;
	max-width:35vh;
}
#HirondelleDescription{
	margin-top: 3vh;
}
#HirondelleItems{
	margin-left: 15vw;
	padding-bottom: 7.5vh;
}

/*GALLERY*/


/*GALLERY--HEAD*/
.gallery {
	background-color: #ebebeb;
	background-attachment: fixed;
	width: 100vw;
	margin-bottom: 7.5vh;
	height: 100vh;
}
.gallery_Title{
	width: 100vw;
	margin: auto;
	display: inline-block;
}
.gallery .gallery_Title h2 {
	margin-top: 3vh;
	text-align: center;
	font-size: 3.5em;
	color: black;
	font-family: 'Inconsolata';
}
.gallery .gallery_Title img{
	width: 10vh;
}
.flower {
	margin: auto;
	width: 50px;
	display: table;
}
.flower img{
	width: 100%;
}

/*GALLERY--CONTAINER*/
.galleryContainer {
	margin: auto;
}
.diamond-grid {
	transition: 0.5s;
	margin-left: 5vw;
}
.galleryItems{
	opacity: 0.5;
	transition: 0.5s;
}
.galleryItems:hover {
	opacity: 1;
}
.galleryItems img:not(#flower) {
	position: absolute;
	width: 150%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.diamond-row-lower{
	margin: auto;
}
/*ASSOCIATION*/
.backgroundImg_association{
  background-image: url("images/association.png");
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5.7vh;
  width: 100%;
}
.association h2{
    text-align: center;
    font-size: 3.5em;
    color: white;
    padding-top: 10vh;
}
.loveImg{
    margin: auto;
    width:6vw;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.AssociationDescription{
    text-align: center;
    color: white;
    padding-bottom: 20vh;
}
/* NOUS CONTACTER*/
.titleContact h2{
    color: black;
    text-align: center;
    font-size: 3.5em;
}
/* Les 3 colonnes */
.ui.three.column.grid {
    color: black;
    display: flex;
    margin-top: 10vh;

}

.columnContact{
    text-align: center;
		border-right: 3px solid black;
		width: 33vw;
}

.columnHoraires{
  text-align: center;
	border-right: 3px solid black;
	width: 34vw;

}
.columnAdresse{
  text-align: center;
	width: 33vw
}

.contactImg{
  margin: auto;
  width:6vw;
  padding-top: 5vh;
	padding-bottom: 10vh;
}

.logoFbFooter{
    width:2vw;
		margin-right: 5px;
}

.logoInstaFooter{
    width:2vw;
		margin-right: 5px;
}

.logoMetro{
    width: 3vw;
		margin-right: 5px;
}

.logoBus{
    width: 3vw;
		margin-right: 5px;
}

#map {
  height: 400px;
  width: 100%;
  }
.footer{
width: 100%;
display: flex;
background-color: black;
margin-top:5vh;
}
.footer p{
	color: white;
	margin: auto;

}
